In [17]:
# Aufgabe 1: 
# Write 2 python function to get the indices of the sorted elements of given lists and compare the speed. 
# one is without numpy package and the other is with numpy. 
# (raise an error message if the input is null or not numerical)


import numpy as np
import pandas as pd
import random
import time

list1 = [23, 104, 5, 190, 8, 7, -3]
list2 = []
list3 = [random.randint(1, 100000) for _ in range(1000000)] 

# Function with numpy
def sorted_indices_numpy(lst): 
    if not lst:
        raise ValueError("There is nothing in the list!")
    for item in lst:
        if not isinstance(item, (int, float)):
            raise ValueError("Value in list is not numerical!")
    list_arr = np.array(lst)
    indices = np.argsort(list_arr, kind='stable')
    return indices


# Function without numpy
def sorted_indices(lst):
    if not lst:
        raise ValueError("There is nothing in the list!")
    for item in lst:
        if not isinstance(item, (int, float)):
            raise ValueError("Value in list is not numerical!")
    indices = sorted(range(len(lst)), key=lambda i: lst[i])
    return indices

In [18]:
# Ausgabe:
# List 1
print("List 1:")
start1 = time.time()
sorted_indices(list1)
time1 = time.time() - start1
print("Indices without NumPy:", sorted_indices(list1))
print(f"Computation time without numpy: {time1}")

start2 = time.time() 
sorted_indices_numpy(list1)
time2 = time.time() - start2
print("Indices with NumPy:", sorted_indices_numpy(list1))
print(f"Computation time with numpy: {time2}")

List 1:
Indices without NumPy: [6, 2, 5, 4, 0, 1, 3]
Computation time without numpy: 0.0
Indices with NumPy: [6 2 5 4 0 1 3]
Computation time with numpy: 0.0

In [19]:
# List 2
print("List 2:")
start1 = time.time()
print("Indices without NumPy:", sorted_indices(list2))
time1 = time.time() - start1
print(f"Computation time without numpy: {time1}")
start2 = time.time() 
print("Indices with NumPy:", sorted_indices_numpy(list2))
time2 = time.time() - start2
print(f"Computation time with numpy: {time2}")

List 2:

ValueError: There is nothing in the list!

In [20]:
#List 3:
print("List 3:")
start1 = time.time()
sorted_indices(list3)
time1 = time.time() - start1
print("Indices without NumPy:", sorted_indices(list3)[:10]) #da die Ausgabe hier zu gro√ü wurde Printe ich nur die ersten 10
print(f"Computation time without numpy: {time1}")

start2 = time.time() 
sorted_indices_numpy(list3)
time2 = time.time() - start2
print("Indices with NumPy:", sorted_indices_numpy(list3))
print(f"Computation time with numpy: {time2}")

List 3:
Indices without NumPy: [5404, 63189, 101681, 196786, 321105, 458904, 474548, 606921, 693353, 809849]
Computation time without numpy: 0.5315971374511719
Indices with NumPy: [  5404  63189 101681 ... 644716 921402 978975]
Computation time with numpy: 0.3480689525604248

In [26]:
# Aufgabe 2:

# Load the countries.csv directly via URL import into your panda data frame!
url = "https://raw.githubusercontent.com/WHPAN0108/BHT-DataScience-S23/main/python-DS/country.csv"
df = pd.read_csv(url)

In [27]:
# Display descriptive statistics for the numerical column (count, mean, std, min, 25%, 50%, 75%, max) HINT: describe
df.describe()

         Population          Area          GDP
count  7.000000e+00  7.000000e+00     6.000000
mean   8.086839e+07  2.926464e+06  2387.500000
std    6.670195e+07  4.348507e+06  1532.497537
min    2.393827e+07  3.619700e+04   744.000000
25%    3.235604e+07  3.293615e+05  1596.250000
50%    6.050172e+07  3.778350e+05  1824.000000
75%    1.042833e+08  4.713910e+06  3062.000000
max    2.083600e+08  9.984670e+06  4938.000000

In [28]:
# Show the last 4 rows of the data frame.
print(df.tail(4))

        Name  Population     Area     GDP Currency
3      Italy    60501718   301338  1850.0      EUR
4   Brazilia   208360000  8515770  1798.0     REAL
5     Taiwan    23938272    36197   744.0      NTD
6  Venezuela    28208977   912050     NaN      VED

In [29]:
# Show all the rows of countries that have the EURO
print(df[df['Currency'] == 'EUR'])

      Name  Population    Area     GDP Currency
0  Germany    82521653  357385  3466.0      EUR
3    Italy    60501718  301338  1850.0      EUR

In [30]:
# Show only name and Currency in a new data frame
# create a dataframe
name_currency = df[['Name', 'Currency']]

# Display the new DataFrame
print(name_currency)

        Name Currency
0    Germany      EUR
1      Japan      YEN
2     Canada      CAD
3      Italy      EUR
4   Brazilia     REAL
5     Taiwan      NTD
6  Venezuela      VED

In [31]:
# Show only the rows/countries that have more than 2000 GDP (it is in Milliarden USD Bruttoinlandsprodukt)
print(df[df['GDP'] > 2000])

      Name  Population    Area     GDP Currency
0  Germany    82521653  357385  3466.0      EUR
1    Japan   126045000  377835  4938.0      YEN

In [32]:
# Select all countries where with inhabitants between 50 and 150 Mio
print(df.query('50_000_000 <= Population <= 150_000_000'))

      Name  Population    Area     GDP Currency
0  Germany    82521653  357385  3466.0      EUR
1    Japan   126045000  377835  4938.0      YEN
3    Italy    60501718  301338  1850.0      EUR

In [33]:
# Calculate the GDP average (ignore the missing value)
average=df['GDP'].mean()
print(average)

2387.5

In [89]:
# Calculate the GDP average (missing value treated as 0)
average=df['GDP'].fillna(0).mean()
print(average)

2046.4285714285713

In [90]:
# Calculate the population density (population/area)  of all countries and add as new column
df['Population Density'] = df['Population'] / df['Area']
print(df)

        Name  Population     Area     GDP Currency  Population Density
0    Germany    82521653   357385  3466.0      EUR          230.904075
1      Japan   126045000   377835  4938.0      YEN          333.597999
2     Canada    36503097  9984670  1529.0      CAD            3.655914
3      Italy    60501718   301338  1850.0      EUR          200.776928
4   Brazilia   208360000  8515770  1798.0     REAL           24.467547
5     Taiwan    23938272    36197   744.0      NTD          661.333039
6  Venezuela    28208977   912050     NaN      VED           30.929200

In [96]:
# Sort by country name alphabetically
sorted_countries = df['Name'].sort_values()
print(sorted_countries)

4     Brazilia
2       Canada
0      Germany
3        Italy
1        Japan
5       Taiwan
6    Venezuela
Name: Name, dtype: object

In [98]:
# Create a new data frame from the original where the area is changed: 
# all countries with > 1000000 get BIG and <= 1000000 get SMALL in the cell replaced!
area_df = df.copy()
area_df['Area'] = area_df['Area'].apply(lambda x: 'BIG' if x > 1000000 else 'SMALL')
print(area_df)

        Name  Population   Area     GDP Currency  Population Density
0    Germany    82521653  SMALL  3466.0      EUR          230.904075
1      Japan   126045000  SMALL  4938.0      YEN          333.597999
2     Canada    36503097    BIG  1529.0      CAD            3.655914
3      Italy    60501718  SMALL  1850.0      EUR          200.776928
4   Brazilia   208360000    BIG  1798.0     REAL           24.467547
5     Taiwan    23938272  SMALL   744.0      NTD          661.333039
6  Venezuela    28208977  SMALL     NaN      VED           30.929200